<extend name="Public:base" />
<block name='css'>
<link rel="stylesheet" href="__PUBLIC__/home/css/simditor-markdown.css" media="screen" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/simditor.css" />
<style type="text/css" media="screen">
    .tags{
        margin-right: 20px;
    }
</style>
</block>
<block name='title'>
    <title>发布文章</title>
</block>

<block name="main">
    <div class="col-xs-12 col-sm-12">
        <form action="__ACTION__" method="post" accept-charset="utf-8">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"  required="" maxlength="15">文章标题</span>
              <input type="text" class="form-control" id="title" placeholder="Title" aria-describedby="basic-addon1" name="title" value="{$ainfo.title}">
              <input type="hidden" name="aid" value="{$ainfo.aid}">
            </div> 
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"  required="" maxlength="100">文章概要</span>
              <input type="text" class="form-control" style="resize: none;" maxlength="255"  placeholder="Summary" name="summary" id="summary" value="{$ainfo.summary}">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1" >封面图片</span>
              <input type="text" class="form-control" placeholder="Cover Image" aria-describedby="basic-addon1" name="cover" maxlength="200" value="{$ainfo.image}">
            </div>
            <textarea id="editor" class="content" class="form-control" placeholder="Content" autofocus name="content" required="">{$ainfo.content}</textarea>
            <p class="text-warning">图片附件提示：暂不支持动态上传图片附件。但您可以将图片上传至网络，复制其网络地址，以链接地址的形式添加到封面或正文图片。</p>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1" >Tag</span>&nbsp;&nbsp;
            <div class="btn-group" data-toggle="buttons">
                <volist name="tags" id="tag">
                  <label class="btn btn-default btn-sm  tags">
                    <input type="radio" name="tagid" value="{$tag.tid}" autocomplete="off"> {$tag.tagname}
                  </label>
                </volist>
            </div>

            </div>
            <hr>
            <button type="button" class="btn btn-primary" onclick="javascript:history.back();">返回</button>
            <button type="submit" id="submit" class="btn btn-primary" name="artsubmit" style="float: right;">提交发布</button>
        </form>
    </div>
</block>

<block name="sidebar">
</block>
