<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>校园新闻</title>
</head>
<body>
 

     
    
    
   <!-- <form action="__URL__/words" method="post">
    <li>新闻列表</li><br/>
    <volist name="list" id="vo">
        {$vo.title}<br/>
        {$vo.content}<br/>
    </volist>
    </form>一个失败的部分-->


    <li>新闻</li><br/>
    <table>
        <tr>
            <!--<td></td>-->
            <td>{$data.title}</td>
        </tr>
        <tr>
            <!--<td></td>-->
            <td>{$data.content}</td>
        </tr>
    </table>
    
    <!--<li class="active">详细</li>-->
    <!--   <input type="hidden" name="uid" id="uid" value="{$details.uid}"> 
      <input type="hidden" name="data" id="data" value="{$words.title}">
    {$words.title}<br/>
    {$words.content}<br/>--一个是失败的部分>
</body>
</html>